body {
  background: #33cccc;
  animation: color 20s infinite linear;
  overflow-x: hidden;
}

img::selection {
  background: transparent;
}
h1::selection {
  background: transparent;
}
h2::selection {
  background: transparent;
}
h3::selection {
  background: transparent;
}
p::selection {
  background: transparent;
}
span::selection {
  background: transparent;
}
div::selection {
  background: transparent;
}
a::selection {
  background: transparent;
}

@keyframes color {
  0% {
    background: #33cccc;
  }
  20% {
    background: #33cc36;
  }
  40% {
    background: #fcca00;
  }
  60% {
    background: #fc8f00;
  }
  80% {
    background: #dd1717;
  }
  90% {
    background: #af17d4;
  }
  100% {
    background: #33cccc;
  }
}

header {
  display: block;
  background-color: bisque;
  border: black 5px solid;
  width: 78.90583903208838vw;
  margin: auto;
  height: 7.360672975814932vh;
  border-radius: 10px;
}
.titleOfHeader {
  top: 1.5772870662460567vh;
  left: 30.247238295633878vw;
  opacity: 1;
  color: #08149e;
  text-shadow: #d300ff 0.1vh 0 10px;
  font-weight: bold;
  font-size: 3.121748178980229vh;
  position: relative;
}
.titleOfHeaderHover {
  left: 30.51025775907417vw;
  top: 1.5772870662460567vh;
  text-align: center;
  display: none;
  color: #08149e;
  text-shadow: #d300ff 0.1vh 0 10px;
  font-weight: bold;
  font-size: 3.121748178980229vh;
  position: relative;
}
header:hover .titleOfHeader {
  display: none;
}
header:hover .titleOfHeaderHover {
  display: inline;
}

.main {
  border-radius: 10px;
  right: 16.701461377870565vw;
  top: 13.144058885383807vh;
  position: absolute;
  background-color: rgb(112 114 114 / 48%);
  width: 14.375326711970727vw;
  height: 82.01892744479495vh;
  border: 1px solid;
}

.board {
  /* cursor: url(../assets/images/gun\ 3d.png) 81 40, auto; */
  top: 13.144058885383807vh;
  position: absolute;
  background-color: black;
  width: 58.27676240208877vw;
  height: 78.44374342797056vh;
  left: 6.31246712256707vw;
  border: 5px black solid;
  border-radius: 10px;
}

.target {
  position: absolute;
  width: 2.6vw;
  height: 5.2vh;
  text-align: center;
  /* animation: spin 4s infinite linear; */
  /* transition: all 0.4s linear; */
  animation: none;
  display: none;
  top: 0vh;
}
#target {
  transition: all 0.4s linear;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

#highScore2 {
  height: 17.875920084121976vh;
}

.container {
  width: 300px;
  height: 300px;
  display: inline-block;
  border-radius: 5px;
}
.settings {
  border: 2px solid;
  left: 1.0454783063251438vw;
  width: 12.284370099320439vw;
  height: 9.989484752891693vh;
  margin: 1.6824395373291272vh 0px;
  background-color: white;
  position: relative;
}
#sec {
  color: black;
}
#min {
  display: none;
}
#score {
  color: black;
}
.PtsNL {
  color: black;
}
.lvl {
  color: black;
}
.MC {
  color: black;
}

#ctn_title {
  display: block;
  background-color: bisque;
  border: black 5px solid;
  width: 1500px;
  margin: auto;
  height: 70px;
}

.title {
  top: 15px;
  margin: auto;
  text-align: center;
  justify-content: center;
}

#principal {
  /* cursor: url(../assets/images/gun\ 3d.png) 81 40, auto; */
  top: 125px;
  position: absolute;
  background-color: black;
  width: 1116px;
  height: 746px;
  left: 120px;
  border: 5px black solid;
}

#ctn_right {
  margin: 0px 1345px;
  top: 125px;
  position: absolute;
  background-color: rgb(0, 195, 195);
  width: 275px;
  height: 755px;
  /* right: 110px; */
}

.div_child {
  left: 20px;
  width: 235px;
  height: 95px;
  margin: 3px 0px;
  background-color: white;
  position: relative;
}

.div_child2 {
  left: 20px;
  width: 235px;
  height: 165px;
  margin: 3px 0px;
  background-color: white;
  position: relative;
}

/* On montre le premier texte */
.text-base {
  top: 15px;
  left: 575px;
  opacity: 1;
  color: blueviolet;
  font-weight: bold;
  font-size: 30px;
  position: relative;
}
/* On cache le second texte */
.text-hover {
  left: 10px;
  top: -20px;
  text-align: center;
  display: none;
  color: blueviolet;
  font-weight: bold;
  font-size: 30px;
  position: relative;
}
/* On fait disparaitre le premier texte au passage de la souris. */
.button:hover span.text-base {
  opacity: 0;
}
/* On fait apparaitre le second texte au passage de la souris. */
.button:hover span.text-hover {
  display: block;
}
.button {
  display: block;
  background-color: bisque;
  border: black 5px solid;
  width: 1500px;
  margin: auto;
  height: 70px;
}

.mid_div {
  position: relative;
  top: -5.7vh;
  width: 58.59375vw;
  height: 3.9vh;
  display: flex;
  justify-content: flex-start;
}

.mid_div2 {
  width: 58.59375vw;
  margin-bottom: 1px;
  height: 3.9vh;
  transform: rotateX(180deg);
  display: flex;
  justify-content: flex-start;
}

#down-off {
  position: absolute;
  right: 10px;
}

#up-off {
  top: 140px;
  position: absolute;
  right: 29px;
}

/* animation des ufo 1 et 2 pour qu'il fasse des allez retour */

#ufo {
  animation: traveling 5s infinite paused;
  position: relative;
  width: 2.6vw;
  height: 5.2vh;
}

@keyframes traveling {
  0% {
    left: 0vw;
  }
  50% {
    left: 55.677083333333336vw;
  }
  100% {
    left: 0vw;
  }
}

#ufo2 {
  animation: traveling2 5s infinite paused;
  top: -76.2vh;
  position: relative;
  width: 2.6vw;
  height: 5.2vh
}

@keyframes traveling2 {
  0% {
    left: 55.677083333333336vw;
  }
  50% {
    left: 0vw;
  }
  100% {
    left: 55.677083333333336vw;
  }
}

/* animation de l'alien pour tourner sur lui même */
#catch_him {
  width: auto;
  height: 40px;
  position: relative;
  text-align: center;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* canvas {
  background-color: red;
}
 */

#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  opacity: 0.15;
  stroke: #ce1b5f;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#blue {
  fill: none;
  opacity: 0.15;
  stroke: #06a1c4;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #06a1c4;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.15;
  }
}

i#vol {
  position: relative;
  color: white;
}

i#volx {
  position: relative;
  color: white;
  display: none;
}

#icon_rules {
  position: relative;
}

#icon_rules_open {
  position: relative;
  display: none;
}

div#coulissant {
  transition-property: right;
  transition-duration: 1s;
  top: 14.568158168574401vh;
  right: -10.9375vw;
  position: absolute;
  width: 10.416666666666666vw;
  height: 76.4828303850156vh;
  background: #80808096;
  border: 2px black solid;
}

h2 {
  font-size: 1.3020833333333333vw;
  position: relative;
  top: -5.723204994797086vh;
  text-align: center;
  text-decoration: underline;
  padding: 0px 0px 1.04vh 0px;
}

h3 {
  position: relative;
  font-size: 1.3020833333333333vw;
  text-decoration: underline;
  top: -7.2840790842872005vh;
}

#charactere {
  position: relative;
  width: 3.6458333333333335vw;
  height: 7.2840790842872005vh;
  padding: 1.0405827263267429vh 0.5208333333333334vw;
  top: -5.2435vh;
}

.charactere {
  text-align: center;
}

.btn_difficulty {
  width: 1.5625vw;
  height: 3.12vh;
  position: relative;
  top: 0.52vh;
}

.text_diff {
  font-size: 1.04167vw;
  position: relative;
}

#easy {
  left: 2.8645833333333335vw;
}
#medium {
  background-color: green;
  left: 2.4vw;
}
#hard {
  left: 3.125vw;
}

i.fa-solid.fa-circle-arrow-left {
  position: relative;
  font-size: 2.0833333333333335vw;
}


i.fa-solid.fa-circle-arrow-left:hover {
  left: -10px;
}

img#nyan_cat {
  position: relative;
  left: -5px;
  top: -120px;
}

#game_over_title {
  font-size: 100px;
  position: relative;
  color: red;
  text-shadow: 5px 5px #558abb;
  left: 57px;
  top: 160px;
}

#game_over {
  top: 125px;
  position: absolute;
  background-color: black;
  width: 1116px;
  height: 746px;
  left: 120px;
  border: 5px black solid;
  display: none;
}

#arrow_settings {
  z-index: -1;
  top: -18.429760665972942vh;
  width: 23.75vw;
  position: absolute;
  right: -4.208333333333333vw;
}

div#arrowtext {
  position: absolute;
  top: 31.21748178980229vh;
  left: -1.5625vw;
}

#text_settings {
  text-align: center;
  position: absolute;
  right: 2.041666666666667vw;
  width: 14.322916666666666vw;
  font-size: 1.5625vw;
  top: -28.54630593132154vh;
}

#intro {
  width: 37.5vw;
  left: 10.704960835509139vw;
  top: 26.393270241850683vh;
  text-align: center;
  position: absolute;
  font-size: 2.7083333333333335vw;
  color: pink;
}

img#pacman {
  width: 9.895833333333334vw;
  left: 1.2610966057441253vw;
  position: absolute;
  top: 25.691136vh;
}

img#mortal {
  width: 15.625vw;
  transform: scaleX(-1);
  position: absolute;
  top: 28.099167vh;
  right: 0.5221932114882507vw;
}

#msl {
  position: fixed;
  bottom: 0vh;
  left: 36.458333333333336vw;
  font-size: 1.0416666666666667vw;
}

#title_rules {
  left: 18.052083333333332vw;
  font-size: 2.34375vw;
  top: 0.9542143600416235vh;
  position: relative;
  color: rebeccapurple;
  z-index: 1;
}

#div_rules {
  left: 120px;
  position: absolute;
  width: auto;
  z-index: 1;
  display: none;
}

#text_rules {
  top: -1.0405827263267429vh;
  padding: 1.04vh 0.52vw;
  width: 45.833333333333336vw;
  border: 2px solid white;
  color: rebeccapurple;
  text-align: center;
  border-radius: 5px;
  left: -2.875vw;
  position: relative;
}

#player_case {
  top: 3.1545741324921135vh;
  overflow-y: scroll;
  width: 12.284370099320439vw;
  height: 14.721345951629864vh;
  position: absolute;
  display: flex;
  flex-direction: column;
}

#separation {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -1.560874vh;
}

#separation2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -1.560874vh;
}
#separation3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -1.560874vh;
}
#separation4 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -1.560874vh;
}
#separation5 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -1.560874vh;
}

#reset,
reset:after {
  width: 380px;
  height: 80px;
  font-size: 36px;
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0px;
  color: #fff;
  letter-spacing: 5px;
  box-shadow: 5px 0px 0px #00e6f6;
  outline: transparent;
  position: fixed;
  top: 745px;
  left: 861px;
  display: none;
}

#reset::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "RESET";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

#reset:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.hidestart {
  top: -3.5vh;
  width: 79.2vw;
  z-index: 999;
  position: relative;
  background-color: black;
  height: 8.4vh;
  border-radius: 10px;
  left: -0.2vw;
  display: none;
}

#king {
  height: 7.2840790842872005vh;
  width: 15.625vw;
  position: relative;
  left: 31.03629668595476vw;
  top: 0.5257623554153522vh;
}

#option {
  left: 1.82292vw;
  position: relative;
  font-size: 2.60417vw;
  top: 4.91883vh;
  height: 8.84495vh;
  display: flex;
  letter-spacing: 1.5625vw;
}

#option-chrt {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 40vh;
  top: 9.365244536940686vh;
}

#option-dif {
  top: 6.95942vh;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 10.4vw;
}

.classement_parti{
  height: 1vh;
}

#diff {
  top: -7.804370447450572vh;
  position: relative;
}

@media screen {
}


