body {
  background: #33cccc;
  animation: color 20s infinite linear;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
}
.titleOfHeader {
  margin-top: -8px;
  opacity: 1;
  color: #08149e;
  text-shadow: #d300ff 0.1vh 0 10px;
  font-weight: bold;
}
.titleOfHeaderHover {
  margin-top: -8px;
  display: none;
  color: #08149e;
  text-shadow: #d300ff 0.1vh 0 10px;
  font-weight: bold;
}
header:hover .titleOfHeader {
  display: none;
}
header:hover .titleOfHeaderHover {
  display: inline;
}
.hidestart {
  top: -3.5vh;
  width: 79.2vw;
  z-index: 999;
  position: relative;
  background-color: black;
  height: 8.4vh;
  border-radius: 10px;
  left: -0.2vw;
  display: none;
}
.start {
  font-size: 30px;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 5px solid black;
  height: 70px;
  border-radius: 12px;
}

#king {
  display: none;
  width: 210px;
}

@keyframes color {
  0% {
    background: #33cccc;
  }
  20% {
    background: #33cc36;
  }
  40% {
    background: #fcca00;
  }
  60% {
    background: #fc8f00;
  }
  80% {
    background: #dd1717;
  }
  90% {
    background: #af17d4;
  }
  100% {
    background: #33cccc;
  }
}

#sectionMain {
  margin-left: -250px;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  border-radius: 10px;
  position: relative;
  background-color: rgb(112 114 114 / 48%);
  width: 280px;
  height: 720px;
  border: 1px solid;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: black;
  width: 1120px;
  height: 720px;
  border: 5px black solid;
  border-radius: 10px;
  margin: 0px 50px;
}

.target {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  animation: none;
  display: none;
  top: 0vh;
  z-index: 9999999;
}

#target {
  transition: all 0.4s linear;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

#highScore2 {
  height: 120px;
}

.container {
  width: 300px;
  height: 300px;
  display: inline-block;
  border-radius: 5px;
}
.settings {
  border: 2px solid;
  width: 220px;
  height: 80px;
  margin: 20px 0px;
  background-color: white;
  position: relative;
}
#sec {
  color: black;
}
#min {
  display: none;
}
#score {
  color: black;
}
.PtsNL {
  color: black;
}
.lvl {
  color: black;
}
.MC {
  color: black;
}

#ctn_title {
  display: block;
  background-color: bisque;
  border: black 5px solid;
  width: 1500px;
  margin: auto;
  height: 70px;
}

.title {
  top: 15px;
  margin: auto;
  text-align: center;
  justify-content: center;
}

#principal {
  /* cursor: url(../assets/images/gun\ 3d.png) 81 40, auto; */
  top: 125px;
  position: absolute;
  background-color: black;
  width: 1116px;
  height: 746px;
  left: 120px;
  border: 5px black solid;
}

#ctn_right {
  margin: 0px 1345px;
  top: 125px;
  position: absolute;
  background-color: rgb(0, 195, 195);
  width: 275px;
  height: 755px;
  /* right: 110px; */
}

.div_child {
  left: 20px;
  width: 235px;
  height: 95px;
  margin: 3px 0px;
  background-color: white;
  position: relative;
}

.div_child2 {
  left: 20px;
  width: 235px;
  height: 165px;
  margin: 3px 0px;
  background-color: white;
  position: relative;
}

/* On montre le premier texte */
.text-base {
  top: 15px;
  left: 575px;
  opacity: 1;
  color: blueviolet;
  font-weight: bold;
  font-size: 30px;
  position: relative;
}
/* On cache le second texte */
.text-hover {
  left: 10px;
  top: -20px;
  text-align: center;
  display: none;
  color: blueviolet;
  font-weight: bold;
  font-size: 30px;
  position: relative;
}
/* On fait disparaitre le premier texte au passage de la souris. */
.button:hover span.text-base {
  opacity: 0;
}
/* On fait apparaitre le second texte au passage de la souris. */
.button:hover span.text-hover {
  display: block;
}
.button {
  display: block;
  background-color: bisque;
  border: black 5px solid;
  width: 1500px;
  margin: auto;
  height: 70px;
}

.mid_div {
  position: absolute;
  top: -50px;
  width: 1130px;
  display: flex;
  justify-content: flex-start;
}

.mid_div2 {
  bottom: -50px;
  width: 1130px;
  transform: rotateX(180deg);
  position: absolute;
}
#down-off {
  position: absolute;
  right: 10px;
}

#up-off {
  top: 140px;
  position: absolute;
  right: 29px;
}

/* animation des ufo 1 et 2 pour qu'il fasse des allez retour */

#ufo {
  animation: traveling 5s infinite paused;
  position: relative;
  width: 50px;
  height: 50px;
}



#ufo2 {
  animation: traveling2 5s infinite paused;
  position: relative;
  width: 50px;
  height: 50px;
}
@keyframes traveling {
  0% {
    left: 0px;
  }
  50% {
    left: 1085px;
  }
  100% {
    left: 0px;
  }
}
@keyframes traveling2 {
  0% {
    left: 1085px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 1085px;
  }
}

/* animation de l'alien pour tourner sur lui même */
#catch_him {
  width: auto;
  height: 40px;
  position: relative;
  text-align: center;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* canvas {
  background-color: red;
}
 */

#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  opacity: 0.15;
  stroke: #ce1b5f;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#blue {
  fill: none;
  opacity: 0.15;
  stroke: #06a1c4;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #06a1c4;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.15;
  }
}

i#vol {
  position: relative;
  color: white;
}

i#volx {
  position: relative;
  color: white;
  display: none;
}

#icon_rules {
  position: relative;
}

#icon_rules_open {
  position: relative;
  display: none;
}

div#coulissant {
  display: flex;
  transition-property: right;
  transition-duration: 1s;
  top: 180px;
  right: -205px;
  position: absolute;
  width: 200px;
  height: 600px;
  background: #80808096;
  border: 2px black solid;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.charactere {
  text-align: center;
}

#charactere {
  position: relative;
  height: 60px;
  margin: 10px;
}

.btn_difficulty {
  width: 25px;
  height: 25px;
  position: relative;
}

.text_diff {
  font-size: 20px;
  margin-left: -20px;
}

#easy {
  left: 56px;
}
#medium {
  background-color: green;
  left: 46px;
}
#hard {
  left: 60px;
}

i.fa-solid.fa-circle-arrow-left {
  position: relative;
  font-size: 2.0833333333333335vw;
}

i.fa-solid.fa-circle-arrow-left:hover {
  left: -10px;
}

img#nyan_cat {
  position: relative;
  left: -0.2604166666666667vw;
  top: -4.486993vh;
  width: 100%;
}

#game_over_title {
  font-size: 5.208333333333333vw;
  position: relative;
  color: red;
  text-shadow: 5px 5px #558abb;
  left: 2.96875vw;
  top: 16.649323621227886vh;
}

#game_over {
  top: 13.007284079084288vh;
  position: absolute;
  background-color: black;
  width: 58.125vw;
  height: 77.62747138397502vh;
  left: 6.25vw;
  border: 5px black solid;
  display: none;
}

#arrow_settings {
  z-index: -1;
  top: -18.429760665972942vh;
  width: 23.75vw;
  position: absolute;
  right: -4.208333333333333vw;
}

div#arrowtext {
  position: absolute;
  top: 31.21748178980229vh;
  left: -1.5625vw;
}

#text_settings {
  text-align: center;
  position: absolute;
  right: 2.041666666666667vw;
  width: 14.322916666666666vw;
  font-size: 1.5625vw;
  top: -28.54630593132154vh;
}

#raille {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#intro {
  text-align: center;
  font-size: 49px;
  color: pink;
  width: 650px;
  margin-top: 35px;
}

img#pacman {
  width: 225px;
  height: 225px;
}

img#mortal {
  transform: scaleX(-1);
  width: 250px;
  height: 200px;
  position: relative;
  left: -70px;
  top: 10px;
}

#msl {
  color: white;
  position: absolute;
  font-size: 20px;
  margin-top: 35px;
}
footer {
  display: flex;
  justify-content: center;
}

#title_rules {
  display: inline;
  left: 18.052083333333332vw;
  font-size: 2.34375vw;
  top: 0.9542143600416235vh;
  position: relative;
  color: rebeccapurple;
  z-index: 1;
}

#div_rules {
  margin: 40px;
  z-index: 1;
  display: none;
  position: fixed;
}

#text_rules {
  padding: 1.04vh 0.52vw;
  width: 45.833333333333336vw;
  border: 2px solid white;
  color: rebeccapurple;
  text-align: center;
  border-radius: 5px;
}

#player_case {
  overflow-y: scroll;
  height: 90px;
  display: flex;
  flex-direction: column;
}

#separation {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -1.560874vh;
}

#separation2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -1.560874vh;
}
#separation3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -1.560874vh;
}
#separation4 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -1.560874vh;
}
#separation5 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -1.560874vh;
}

#reset,
reset:after {
  width: 19.791666666666668vw;
  height: 8.324661810613943vh;
  font-size: 1.875vw;
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0px;
  color: #fff;
  letter-spacing: 5px;
  box-shadow: 5px 0px 0px #00e6f6;
  outline: transparent;
  position: fixed;
  top: 77.52341311134235vh;
  left: 45.2vw;
  display: none;
}

#reset::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "RESET";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

#reset:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

#globalOption {
  margin-top: 25px;
}

#option {
  font-size: 45px;
  margin: 0px 0px 0px 20px;
  display: flex;
  letter-spacing: 20px;
  justify-content: center;
}

#option-chrt h2 {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

#option-dif h3 {
  font-size: 20px;
  text-decoration: underline;
}

#option-dif {
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
}

.classement_parti {
  height: 1vh;
}


@media screen and (max-width: 1790px)  {
  .board {
    width: 990px;
    height: 650px;
}
img#pacman {
  width: 175px;
  height: 175px;
}
img#mortal {
  width: 175px;
  height: 150px;
}
.mid_div {
  width: 990px;
}
.mid_div2 {
  width: 990px;
}
.main {
  height: 630px;
}
}
@media screen and (max-width: 1650px)  { 
  .main {
    width: 180px;
    height: 630px;
}
.settings {
  width: 140px;
  height: 90px;
  margin: 15px 0px;
  background-color: white;
  position: relative;
}
}
@media screen and (max-width: 1530px)  { 
  #arrow_settings {
  display: none !important;
}
  #text_settings {
    display: none !important;
  }
  @keyframes traveling {
    0% {
      left: 0px;
    }
    50% {
      left: 950px;
    }
    100% {
      left: 0px;
    }
  }
  @keyframes traveling2 {
    0% {
      left: 950px;
    }
    50% {
      left: 0px;
    }
    100% {
      left: 950px;
    }
  }
  #sectionMain {
    margin-left: -150px;
  }
  div#coulissant {
    display: flex;
    margin-top: 40px;
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
    position: relative;
    top: auto;
    right: auto !important;
    justify-content: center;
    align-items: center;
  }
  .text_diff {
    font-size: 20px;
    margin-left: 25px;
    display: inline-block;
  }
  #easy {
    left: 15px;
  }
  #medium {
    background-color: green;
    left: 15px;
  }
  #hard {
    left: 25px;
  }
  #globalOption {
    background: #80808096;
    margin-top: 25px;
    width: 630px;
    border: 2px solid black;
  }
  i.fa-solid.fa-circle-arrow-left {
    display: none;
  }
}
@media screen and (max-width: 1430px)  { 
  .board {
    width: 850px;
    height: 600px;
}
img#pacman {
  width: 120px;
  height: 120px;
}
#intro {
  text-align: center;
  font-size: 40px;
  color: pink;
  width: auto;
  margin-top: 25px;
}
img#mortal {
  top: 0;
  left: -50px;
}
.main {
  width: 150px;
  height: 560px;
}
#globalOption {
  margin-top: 25px;
  width: 445px;

}
#sectionMain {
  margin-left: -70px;
}
.mid_div {
  width: 850px;
}
.mid_div2 {
  width: 850px;
}
@keyframes traveling {
  0% {
    left: 0px;
  }
  50% {
    left: 800px;
  }
  100% {
    left: 0px;
  }
}
@keyframes traveling2 {
  0% {
    left: 800px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 800px;
  }
}

}


@media screen and (max-width: 1230px)  { 
  #sectionMain {
    margin-left: -50px;
  }
  .main {
    margin-top: 45px;
    width: 860px;
    height: 135px;
    flex-direction: row;
}

#sectionMain {
    display: flex;
    flex-direction: column;
}
.settings {
	height: 65px;
    margin: 15px 5px;
}

div#coulissant {
    margin-top: 15px;}
}

@media screen and (max-width: 1000px)  { 
  #sectionMain {
    margin: 70px 0px;
  }
}

@media screen and (max-width: 900px)  { 
  .board {
    width: 700px;
    height: 500px;
}
#intro {
  margin-top: 65px;
}
.mid_div {
  width: 690px;
}
.mid_div2 {
  width: 690px;
}
@keyframes traveling {
  0% {
    left: 0px;
  }
  50% {
    left: 640px;
  }
  100% {
    left: 0px;
  }
}
@keyframes traveling2 {
  0% {
    left: 640px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 640px;
  }
}
#sectionMain {
  margin: 70px 0px 0px;
}
.main {
  margin-top: 45px;
  width: 690px;
  height: 140px;
  flex-direction: row;
}
.settings {
  height: 100px;
  margin: 15px 5px;
}
}

/* Responsive Ok jusqu'à 768 px */
